mark {  
	color: yellow;
	font-family: 'Lato', sans-serif;
}
body {
	color: white;
	font-weight: bold;
	font-size: 30px;
	text-align: center;
	background-image: url("Burger.jpg");
	background-position: ;
	height: 100%;
}	
mark {
	background-color: red;
	padding: 10px;
}

        