mark {
	color: yellow;
	font-family: 'Lato', sans-serif;
}
body {
	color: red;
	font-size: 25px;
	text-align: center;
	background-image: url("CheeseBurger Wallpaper.jpg");
	background-position: ;
	height: 100%;
}	
mark {
	background-color: red;
	padding: 10px;
}

				